*{
    margin: 0;
    padding: 0;
}
.flexbox{
    background-color: rgb(63, 105, 202);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.flex1{
    background-color: rgb(37, 62, 138);
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: right;
    position: relative;
    top: 30%;
    right: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 190%;
    align-items: center;
    font-weight: 600;
    color: rgb(230, 230, 230);
}
marquee{
    padding: 1%;
    background-color: rgba(190, 238, 255, 0.829);
}